model_weights/

# weights or compressed files
*.pt
*.pth
*.pth.tar
*.ptm
*.pthm
*.tar
*.zip
*.np
*.npz



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class




# C extensions
*.so




# PyBuilder
.pybuilder/
target/





# Jupyter Notebook
.ipynb_checkpoints




